.container{
  display: grid;
  height: 100%;
  grid-template:  100px auto 40px / repeat(4, 1fr);
  grid-template-areas:
   "navbar header header header"
   "navbar projects projects projects"
   "footer footer footer footer";
}
.logo{
 font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
}

.header{
  grid-area: header;
}
.header ul{
  text-align: center;
  list-style: none;
 
}
.header ul li{ 
  display: inline-block;
}
.navbar{
  grid-area: navbar;
}
.projects {
  grid-area: projects;
}
.footer{
  grid-area: footer;
}
.photo{
  text-align: center;
  background-image: url("src/IMG_20170815_172159_942.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-filter: opacity(.9);
  filter: opacity(.5);

}

ul#menu {
  list-style: none;
  /*position: relative;*/
}
ul#menu li{
   /** position: relative;*/
}

ul#projects {
    list-style: none;
   /* position: relative;*/
  }
  ul#projects li{
    /*position: relative;*/
    display: inline-block;
  }
  .logo{
    width: 50px;
    height: 50px;
  }
  .title{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
  }
  .subtitle{
    color:#777777;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
  }